html,
body {
  margin: 0;
  padding: 0;
  font-family: "Sackers Gothic Std";
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  height: 100%;
  font-size: 0.9rem;
}

body {
  background: #ccc;
  min-height: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  height: 100%;
}