<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf8" />
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{baseCssPath}}" />
    <link rel="stylesheet" type="text/css" href="{{userCssPath}}" />

    {% block extrastyle %} {% endblock %}
  </head>

  <body>
    <div class="container">
      
      <div class="user-profile">
        <div class="profile-picture">
          <img id="picture" src="{{user.profilePhoto}}" alt="foto do usuário" />
        </div>

        {% set name = user.fullName.split(' ')[0] %}
        <h5>Nome: {{name}}</h5>
        <h5>Email: {{user.email}}</h5>
        <h5>Telefone: {{user.phone}}</h5>
        <h5>Endereço: {{user.address.street}}, {{user.address.suite}}, {{user.address.city}} - {{user.address.zipcode}}</h5>
        <h5>Site: {{user.website | urlize | safe}}</h5>
        <h5>Empresa: {{user.company.name}}</h5>
      </div>

      <div class="user-post">{% block content %} {% endblock %}</div>
    </div>

    <div class="footer"></div>
  </body>
</html>
